div#load_screen{
      background: rgb(236, 239, 255);
      opacity: 1;
      position: fixed;
      z-index:999999;
      top: 0px;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
}
div#load_screen .loader {
    display: flex;
    justify-content: center!important;
    height: 100vh;
}
div#load_screen .loader-content {
    right: 0;
    align-self: center!important;
}
.spinner-grow {
    color: #304aca;
}

.aylanish {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 1.5s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(180deg); }
    100% { transform: rotate(360deg); }
}
