body{
    color: black;
    font-family: Lucida Bright;
    font-size: 14px!important;
}
table{
    font-size: 13px!important;
    color: black!important;
}
table > input{
    height: 30px!important;
}
.table > thead > tr > td{
    border-bottom-width: 0!important;
    padding: 2px!important;
    height: 13px!important;
}
.table > thead > tr > th{
    padding: 5px!important;
    background-color: #7a7afc;
    color: white;
    height: 10px;
    font-size: 12px!important;
}
.table > thead > tr > td >input ,select{
    height: 30px!important;
}
.table > thead > tr > th > a{
     color: white;
}
.table > thead:first-child > tr:first-child > th{
    color: #faf5f5 !important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
    vertical-align: inherit!important;
}
.table > tbody > tr {
    height: 1px!important;
}
.text-bold {
    font-weight:bold;
}

.font-size-16{
    font-size:16px;
}
.kv-panel-before {
    padding: 2px!important;
}
.off-display{
    display: none;
}
.kv-panel-pager {
     min-height: 4px;
}
.kv-panel-after {
     padding: 0!important;
     border-top: 0 solid #ddd;
}
.select2-container--krajee .select2-selection--multiple .select2-selection__choice{
   background-color: #00ffdc!important;
   color: black!important;
}
.select2-container--classic .select2-selection--multiple .select2-selection__choice{
    background-color: #00ffdc!important;
    color: black!important;
}
.table-responsive{
    border: 1px solid white;
}
.pull-right {
    font-size: 11px!important;
}
.panel-title{
    font-size: 14px!important;
}
/*@media screen and (min-width: 550px) {*/
/*    .summary{*/
/*        font-size: 10px!important;*/
/*    }*/
/*}*/
