button.owl-dot span{
    color: #fff;
    background:#fff;
    width:15px;
    height:15px;
    margin:15px;
    display:inline-block;
    border-radius:50%;
}
button.owl-dot.active span{
    background:#f10505;
}
.owl-nav{
    display: none;
}
